// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #DB874E;
$green: #32B796;
$gray: #817A7A;
$light-gray: #b3b3b3;

$brown: #DB874E;
$darkbleu: #3F4053;
