.banner-apropos {
  color: white;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  h1 {
    display: flex;
    width: 40%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
  }
}

.business-description{
  margin-top : 5%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  hr {
    width: 100px;
    height: 5px;
    border-radius: 1px;
    background-color: #DB874E;
    margin: 25px 0px;
  }
  .business-text{
  width: 245px;
  margin-left: -10%;
  strong{
    font-weight: normal;
  }
  }
  .image-entreprise{
  height: 38vh;
  }
}

.business-description-xs{
  margin-top : 5%;
  background-size: cover;
  background-position: top;
  .business-text{
    padding: 5%;
  }
  h3{
    margin-top: 0;
    color: white;
  }
}


.habilitations{
  margin-top : 5%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  hr {
    width: 5px;
    top: 0;
    left: -46%;
    height: 100px;
    clear: both;
    margin-top: 10px;
    border-radius: 1px;
    background-color: #DB874E;
    margin: 10px;
  }
  img{
    height: 38vh;
  }
  .habilitations-text{
  width: 500px;
  }
}

.habilitations-xs{
  margin-top : 5%;
  background-size: cover;
  background-position: top;
  .habilitations-text{
    padding: 5%;
  }
  h3{
    margin-top: 0;
    color: white;
  }
}


.infrastructures {
  margin: 5% -3% 0 -3%;
  padding: 0 5%;
  height: 40vh;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img{
    height: 60%;
  }
  .infrastructures-text{
    font-weight: bold;
    width: 30%;
  }
  p{
    font-size: 1.5em;
    color: white;
  }
  a{
    color: black;
  }
}

.infrastructures-xs {
  margin: 5% -3% 0 -3%;
  padding: 0 20%;
  height: 40vh;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  .infrastructures-text{
    font-weight: bold;
    width: 100%;
  }
  p{
    font-size: 1.5em;
    color: white;
  }
  a{
    color: black;
  }
}

.lequipe{
  margin: 5% 0;
}

  .member{
    margin-left: 20px;
    margin-right: 20px;
    width: 230px;
    background-color: #c8c7c8;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img{
      width: 100%;
      margin-bottom: 15px;
    }
    p{
      width: 100%;
      color: black;
      text-align: justify;
    }
    .member-description{
      font-size: 9px;
    }
  }
  .member-contact{
    display: flex;
    justify-content: space-around;
    a{
      width: 15%;
    }
  }

@media all and (max-width: 800px){
  .banner-apropos h1{
    width: 100%;
  }
}
