.banner-apropos {
  color: white;
  height: 40vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  h1 {
    display: flex;
    width: 40%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
  }
}
