// Specific CSS for your home-page
.container-body {
  padding: 0px 3%;
  background-color: white;
}
.morecontent span {
    display: none;
}
.morelink {
  display: block;
}

.container-home {
  margin: 0 5%;
}
