.references{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  hr {
    width: 5px;
    top: 0;
    left: -46%;
    height: 100px;
    clear: both;
    margin-top: 10px;
    border-radius: 1px;
    background-color: #DB874E;
    margin: 10px;
  }
  .references-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    h2{
      margin-top: 0;
      margin-bottom: 8%;
    }
  }
  .references-img{
    width: 13%;
    height: 30vh;
    padding: 2%;
    background-size: cover;
    background-position: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p{
      color: black;
      font-weight: bold;
    }
    .references-nb{
      font-size: 5.3em;
      margin-bottom: -15%;
    }
  }
}

.realisations{
  margin: 10% 0 5% 0;
  display: flex;
  flex-direction: column;
  .realisations-titres{
    margin-bottom: 3%;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    p{
      color: black;
      font-weight: bold;
    }
    p:hover{
      text-decoration: underline;
    }
  }
  .realisations-img{
    height: 569px;
    padding: 0 9%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .realisations-objet{
      position: relative;
      background-size: cover;
      background-position: center;
      height: 46%;
      .hover-effect{
        // height: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        // align-content: flex-start;
        padding: 4%;
        // opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        p{
          color: white;
        }
        .objet-plus{
          margin-top: -35px;
          font-size: 5em;
          font-weight: normal;
          align-self: flex-end;
          flex-grow: 1;
        }
        .realisations-img-titre{
          font-weight: bold;
          font-size: 1.1em;
        }
      }
      .hover-effect:hover{
        opacity: 1;
      }

    }
  }
}
//// parc materiel
.parc_materiel{
  margin-bottom: 5%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}
.parc_materiel-titre{
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  h2{
    margin:0 0 0 5%;
  }
  div{
    width: 45%;
    margin-right: 6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  p{
    color: black;
    margin-bottom: 0;
  }
  p:hover{
    text-decoration: underline;
  }
}

.parc_materiel-carousel{
  .item{
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    margin: 0 2%;
  }
  .hover-effect:hover{
    opacity: 1;
  }
.col-xs-4 {
  padding: 0;
}
}



.hover-effect{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  // padding: 6%;
  opacity: 0;
  background-color: rgba(219, 135, 78, 0.75);
  p{
    color: black;
  }
}


.travaillons-ensemble{
  margin: 10% 0 10% 0;
  strong{
    font-size: 2em;
    color: black;
    a{
      color: #DB874E;
    }
  }
}

@media all and (max-width: 900px){
  .travaillons-ensemble{
    strong{
      font-size: 180%;
    }
  }

  .references{
    margin-top: 11%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .references-text{
      width: 80%;
      h2{
        margin-top: 0;
        margin-bottom: 5%;
      }
    }
    .references-img{
      margin-top: 20px;
      height: 10vh;
      width: 80%;
      align-self: auto;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .references-nb{
        margin-bottom: 0;
        font-size: 125%;
      }
      p{
        margin: 0px 1%;
        font-size: 125%;
      }
    }
  }

  .realisations{
    .realisations-titres{
      padding: 0 5%;
    }
    .realisations-img{
      flex-direction: column;
      flex-wrap: nowrap;
      .realisations-objet{
        width: 100% !important ;
        height: 18%;
        .hover-effect{
          padding: 2%;
          opacity: 1;
          .objet-plus{
            visibility: hidden;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1100px){
  .parc_materiel-carousel{
    div{
      height: 40vh;
    }
    .hover-effect{
      opacity: 1;
    }
  }
}
//// Carousel part


.materiel-item {
  height: 100%;

  background-size: cover;
  background-position: center;
}

@media all and (min-width: 1200px){
  .materiel-item{
    width: 29%;
    margin: 0 2%;
  }
}











