.banner-realisation {
  color: white;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  h1 {
    display: flex;
    width: 40%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
  }
}

.references{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  hr {
    width: 5px;
    top: 0;
    left: -46%;
    height: 100px;
    clear: both;
    margin-top: 10px;
    border-radius: 1px;
    background-color: #DB874E;
    margin: 10px;
  }
  .references-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    h2{
      margin-bottom: 8%;
    }
  }
  .references-img{
    width: 13%;
    height: 90%;
    padding: 2%;
    background-size: cover;
    background-position: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p{
      color: black;
      font-weight: bold;
    }
    .references-nb{
      font-size: 5.3em;
      margin-bottom: -15%;
    }
  }
}

.realisations{
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  .realisations-titres{
    margin-bottom: 3%;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    p{
      color: black;
      font-weight: bold;
    }
    p:hover{
      text-decoration: underline;
    }
  }
  .realisations-img{
    height: 569px;
    padding: 0 9%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .realisations-objet{
      background-size: cover;
      background-position: center;
      height: 46%;
      .hover-effect{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-start;
        padding: 4%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        p{
          color: white;
        }
        .objet-plus{
          padding-bottom: 55px;
          font-size: 5em;
          font-weight: bold;
          align-self: flex-end;
          flex-grow: 1;
        }
      }
      .hover-effect:hover{
        opacity: 1;
      }

    }
  }
}

.parc_materiel{
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  .parc_materiel-titre{
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    h2{
      margin:0 0 0 5%;
    }
    div{
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    p{
      color: black;
      margin-bottom: 0;
    }
    p:hover{
      text-decoration: underline;
    }
  }
  .parc_materiel-carousel{
    display: flex;
    justify-content: space-between;
    div{
      background-size: cover;
      background-position: center;
      width: 23%;
      height: 60vh;
    }
    .hover-effect{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-start;
      padding: 6%;
      opacity: 0;
      background-color: rgba(219, 135, 78, 0.75);
      p{
        color: black;
      }
      .vehicule-name{
        font-size: 24px;
        font-weight: bold;
      }
    }
    .hover-effect:hover{
        opacity: 1;
    }
  }
}

.travaillons-ensemble{
  margin-bottom: 5%;
  strong{
    font-size: 2em;
    color: black;
    a{
      color: #DB874E;
    }
  }
}
