<div class="footer">
  <div class="footer-content">
    <div class="footer-contact col-xs-12 col-sm-4">
      <%= cl_image_tag 'Plan-de-travail-1_biqmut', height: 70, width: 70 %>
      <div class="footer-adresse">
        <p>786 rue frédéric Kulhmann</p>
        <p>60240 RIEUX</p>
        <p>FRANCE</p>
      </div>
      <div class="telephone-footer">
        <p>03.44.66.51.02</p>
        <p>dmva@orange.fr</p>
      </div>
    </div>
    <div class="footer-dmva col-xs-12 col-sm-4">
      <h4>DMVA</h4>
      <a href=""><p>Nos services</p></a>
      <a href=""><p>Nos projets</p></a>
      <a href=""><p>Notre actualité</p></a>
      <a href=""><p>Nos réalisations</p></a>
      <a href=""><p>Nous contacter</p></a>
      <a href=""><p>Notre matériel</p></a>
      <a href=""><p>Nos infrastructures</p></a>
      <a href=""><p>Notre histoire</p></a>
    </div>
    <div class="footer-informations col-xs-12 col-sm-4">
      <h4>INFORMATIONS</h4>
      <p>Située dans l'oise, DMVA est une entreprise de travaux publics spécialisée dans les travaux de voirie, d'assainissement, de terrassement, de réseaux secs, d'eau potable, de maçonnerie industrielle et de démolition.</p>
      <h5>Lundi - Vendredi: 08:00 - 17:00</h5>
      <h5>Samedi & Dimanche: fermé</h5>
    </div>
  </div>
  <div class="footer-bas">
    <div class="footer-links col-xs-12 col-sm-4">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-google"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright col-xs-12 col-sm-4">
      This website is made with <i class="fa fa-heart"></i> by Avem-Creation
    </div>
    <div class="back-up col-xs-12 col-sm-4">
      <%= link_to 'Retour en haut' %>
    </div>
  </div>
</div>
