<div class="item active">
  <div class="member col-xs-12 col-md-4">
    <div class="portrait_membre" style="background-image: url('/assets/Portrait_putin');">
      <p class="member-description">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt</p>
    </div>
    <h4 class="member-name">Donatien ROLLAND</h4>
    <p class="member-post">Chef de projet</p>
    <div class="member-contact">
      <a href="" class="phone-contact"><img src="/assets/phone-receiver.png"></a>
      <a href="" class="mail-contact"><img src="/assets/envelope.png"></a>
      <a href="" class="linkedin-contact"><img src="/assets/linkedin-logo.png"></a>
    </div>
  </div>
</div>

<div class="item">
  <div class="member col-xs-12 col-md-4">
    <div class="portrait_membre" style="background-image: url('/assets/Portrait_putin');">
      <p class="member-description">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt</p>
    </div>
    <h4 class="member-name">Erwan GUILLOU</h4>
    <p class="member-post">Chef de projet</p>
    <div class="member-contact">
      <a href="" class="phone-contact"><img src="/assets/phone-receiver.png"></a>
      <a href="" class="mail-contact"><img src="/assets/envelope.png"></a>
      <a href="" class="linkedin-contact"><img src="/assets/linkedin-logo.png"></a>
    </div>
  </div>
</div>

<div class="item">
  <div class="member col-xs-12 col-md-4">
    <div class="portrait_membre" style="background-image: url('/assets/Portrait_putin');">
    <p class="member-description">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt</p>
    </div>
    <h4 class="member-name">Dorian Gentine</h4>
    <p class="member-post">Chef de projet</p>
    <div class="member-contact">
      <a href="" class="phone-contact"><img src="/assets/phone-receiver.png"></a>
      <a href="" class="mail-contact"><img src="/assets/envelope.png"></a>
      <a href="" class="linkedin-contact"><img src="/assets/linkedin-logo.png"></a>
    </div>
  </div>
</div>

<div class="item">
  <div class="member col-xs-12 col-md-4">
    <div class="portrait_membre" style="background-image: url('/assets/Portrait_putin');">
    <p class="member-description">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt</p>
    </div>
    <h4 class="member-name">Thomas qui?</h4>
    <p class="member-post">Stagiaire</p>
    <div class="member-contact">
      <a href="" class="phone-contact"><img src="/assets/phone-receiver.png"></a>
      <a href="" class="mail-contact"><img src="/assets/envelope.png"></a>
      <a href="" class="linkedin-contact"><img src="/assets/linkedin-logo.png"></a>
    </div>
  </div>
</div>
