<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="contact devis-modal">
      <span class="close">&times;</span>
      <h3>Envoyez-nous un message</h3>
      <%= render 'contacts/contact_form' %>
    </div>
  </div>
</div>
<!--     <div class="modal-header">
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
