<div class="navbar">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= cl_image_tag "DMVA---logo-transparent_ei3lvs", :height=>50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="" class="navbar-item navbar-link">ACCUEIL</a>
    <a href="" class="navbar-item navbar-link">A PROPOS</a>
    <a href="" class="navbar-item navbar-link">REALISATIONS</a>
    <a href="" class="navbar-item navbar-link">CONTACT</a>
    <a href="" class="navbar-item navbar-link">ACTUALITES</a>
    <div class="contact">
      <a href="" class="navbar-item font-contact"><i class="fa fa-clock-o" aria-hidden="true"></i> 08:00 - 17:00</a>
      <a href="" class="navbar-item font-contact"><i class="fa fa-phone" aria-hidden="true"></i> 03 44 66 51 02</a>
    </div>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Realisations</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Actualité</a></li>
      </ul>
    </div>
  </div>
</div>
