
  <div class="item active">
    <div style="background-image: url('/assets/Tracteur_profil')">
      <div class="hover-effect">
        <p class="vehicule-name">Nom du véhicule</p>
        <p>Camion</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div style="background-image: url('/assets/Tracteur_profil')">
      <div class="hover-effect">
        <p class="vehicule-name">Nom du véhicule</p>
        <p>Camion</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div style="background-image: url('/assets/Tracteur_profil')">
      <div class="hover-effect">
        <p class="vehicule-name">Nom du véhicule</p>
        <p>Camion</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div style="background-image: url('/assets/Tracteur_profil')">
      <div class="hover-effect">
        <p class="vehicule-name">Nom du véhicule</p>
        <p>Camion</p>
      </div>
    </div>
  </div>
