<div class="partenaire">
  <div class="titre-partenaire">
    <h2>Plus de <strong style="color:#DB874E; font-weight:normal">1000</strong> clients satisfaits</h2>
  </div>
  <div class="carousel-client">




        <div class="item client">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <div class="nom-poste">
            <h4>Logan Wolverine </h4><p> / L'animal des Xmen</p>
          </div>
          <p>Wolverine est un personnage de fiction appartenant à l'univers de Marvel Comics. C'est un super-héros, membre des X-Men et des New Avengers. Son vrai nom est James Howlett, mais ayant oublié son passé, il se fait appeler Logan.</p>
        </div>

        <div class="item client">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <div class="nom-poste">
            <h4>Charles Francis Xavier </h4><p> / Professeur X</p>
          </div>
          <p>Fondateur de l'Institut Xavier, une école pour jeunes mutants, Xavier est lui aussi un mutant (Homo superior), c'est-à-dire, dans l'univers Marvel, un être doté de gènes mutants qui lui permettent d'avoir un pouvoir surhumain.</p>
        </div>

  </div>
  <h2>Nos partenaires</h2>
  <div class="row nospartenaires">
    <div class="col-xs-6 col-sm-3">
      <img src="/assets/a2.png" alt="" style="">
    </div>
    <div class="col-xs-6 col-sm-3">
      <img src="/assets/logo.png" alt="" style="">
    </div>
    <div class="col-xs-6 col-sm-3">
      <img src="/assets/DMVA.png" alt="" style="">
    </div>
    <div class="col-xs-6 col-sm-3">
      <img src="/assets/logo-partenaire.gif" alt="" style="">
    </div>
  </div>
</div>
