<div class="item active">
  <div class="materiel-item col-xs-4" style="background-image: url('/assets/Tracteur_profil')">
    <div class="hover-effect">
      <h4>Nom du véhicule 1</h4>
      <p>Camion</p>
    </div>
  </div>
</div>
<div class="item">
  <div class="materiel-item col-xs-4" style="background-image: url('/assets/Tracteur_profil')">
    <div class="hover-effect">
      <h4>Nom du véhicule 2</h4>
      <p>Camion</p>
    </div>
  </div>
</div>
<div class="item">
  <div class="materiel-item col-xs-4" style="background-image: url('/assets/Tracteur_profil')">
    <div class="hover-effect">
      <h4>Nom du véhicule 3</h4>
      <p>Camion</p>
    </div>
  </div>
</div>
<div class="item">
  <div class="materiel-item col-xs-4" style="background-image: url('/assets/Tracteur_profil')">
    <div class="hover-effect">
      <h4>Nom du véhicule 4</h4>
      <p>Camion</p>
    </div>
  </div>
</div>

