<div class="item active">
  <div class="materiel-item col-xs-12 col-md-3" style="background-image: url('/assets/materiel1')">
    <div class="hover-effect">
      <p class="type-vehicle">CAMION</p>
      <h4>Nom du véhicule 1</h4>
    </div>
  </div>
</div>
<div class="item">
  <div class="materiel-item col-xs-12 col-md-3" style="background-image: url('/assets/materiel2')">
    <div class="hover-effect">
      <p class="type-vehicle">CAMION</p>
      <h4>Nom du véhicule 2</h4>
    </div>
  </div>
</div>
<div class="item">
  <div class="materiel-item col-xs-12 col-md-3" style="background-image: url('/assets/materiel3')">
    <div class="hover-effect">
      <p class="type-vehicle">CAMION</p>
      <h4>Nom du véhicule 3</h4>
    </div>
  </div>
</div>
<div class="item">
  <div class="materiel-item col-xs-12 col-md-3" style="background-image: url('/assets/materiel4')">
    <div class="hover-effect">
      <p class="type-vehicle">CAMION</p>
      <h4>Nom du véhicule 4</h4>
    </div>
  </div>
</div>

