<div class="partenaire">
  <div class="titre-partenaire">
    <h2>Plus de <strong style="color:#DB874E; font-weight:normal">1000</strong> clients satisfaits</h2>
  </div>
  <div class="carousel-client row">




        <div class="client col-xs-12 col-sm-6">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <div class="nom-poste">
            <h4>Logan Wolverine </h4><p> / L'animal des Xmen</p>
          </div>
          <p>J'ai eu l'occasion de travailler avec DMVA pour des travaux d'assainissement. J'ai particulièrement aimé leur professionnalisme, leur réactivité et leurs conseils et remarques toujours pertinents ! Une très bonne collaboration que je suis prêt à recommencer dès que possible !</p>
        </div>

        <div class="client col-xs-12 col-sm-6">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <div class="nom-poste">
            <h4>Charles Francis Xavier </h4><p> / Professeur X</p>
          </div>
          <p>DMVA a travaillé pour nous pendant près de 2 mois. En plus de nous faire profiter de leurs compétences, ils ont su très rapidement comprendre et s'adapter aux enjeux de notre projet en terme de contraintes techniques et de qualité.</p>
        </div>

  </div>
  <h2>Nos partenaires</h2>
  <div class="row nospartenaires">
    <div class="col-xs-6 col-sm-3">
      <a href="https://www.arkema.fr/fr/" target="_blank">
        <%= image_tag 'a2' %>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <a href="http://www.fntp.fr/" target="_blank">
        <%= image_tag 'logo' %>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <a href="http://www.uic.fr/" target="_blank">
        <%= image_tag 'logo2' %>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <a href="http://www.ccl-valleedoree.fr/" target="_blank">
        <%= image_tag 'logo-partenaire' %>
      </a>
    </div>
  </div>
</div>
