<div class="row">
  <div class="col-md-12">

    <div id="my-slider" class="carousel slider multi-item-carousel" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#my-slider" data-slide-to="0" class="active"></li>
        <li data-target="#my-slider" data-slide-to="1"></li>
        <li data-target="#my-slider" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <div class="member col-xs-4">
            <img src="/assets/Portrait_putin.jpg">
            <p class="member-name">Donatien ROLLAND</p>
            <p class="member-post">Chef de projet</p>
            <p class="member-description">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt</p>
            <div class="member-contact">
              <a href="" class="phone-contact"><img src="/assets/phone-receiver.png"></a>
              <a href="" class="mail-contact"><img src="/assets/envelope.png"></a>
              <a href="" class="linkedin-contact"><img src="/assets/linkedin-logo.png"></a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="member col-xs-4">
            <img src="/assets/Portrait_putin.jpg">
            <p class="member-name">Erwan GUILLOU</p>
            <p class="member-post">Chef de projet</p>
            <p class="member-description">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt</p>
            <div class="member-contact">
              <a href="" class="phone-contact"><img src="/assets/phone-receiver.png"></a>
              <a href="" class="mail-contact"><img src="/assets/envelope.png"></a>
              <a href="" class="linkedin-contact"><img src="/assets/linkedin-logo.png"></a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="member col-xs-4">
            <img src="/assets/Portrait_putin.jpg">
            <p class="member-name">Dorian Gentine</p>
            <p class="member-post">Chef de projet</p>
            <p class="member-description">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt</p>
            <div class="member-contact">
              <a href="" class="phone-contact"><img src="/assets/phone-receiver.png"></a>
              <a href="" class="mail-contact"><img src="/assets/envelope.png"></a>
              <a href="" class="linkedin-contact"><img src="/assets/linkedin-logo.png"></a>
            </div>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#my-slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

  </div>
</div>
