
<div class="banner-apropos" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.15) 0%, rgba(40, 42, 44, 0.28) 50%), url('/assets/Tracteur_profil');">
    <h1>À Propos</h1>
</div>

<div class="business-description hidden-xs hidden-sm">
  <hr>
  <div class="business-text">
    <h3>L'entreprise</h3>
    <span class="more">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</span>
  </div>
  <img class="image-entreprise" src="/assets/Travail_sur_chantier.jpg" alt="ouvriers travaillant sur chantier">
</div>

<div class="business-description-xs hidden-lg">
  <div class="business-text" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.75) 0%, rgba(40, 42, 44, 0.75) 95%), url('/assets/Travail_sur_chantier.jpg');">
    <h3>L'entreprise</h3>
    <span class="more">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</span>
  </div>
</div>

<div class="habilitations hidden-xs hidden-sm">
  <img src="/assets/Ouvrier_a_genoux">
  <hr>
  <div class="habilitations-text">
    <h3>Habilitations</h3>
    <span class="more">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</span>
  </div>
</div>

<div class="habilitations-xs hidden-lg">
  <div class="habilitations-text" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.75) 0%, rgba(40, 42, 44, 0.75) 95%), url('/assets/Ouvrier_a_genoux');">
    <h3>Habilitations</h3>
    <span class="more">Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</span>
  </div>
</div>


<div class="infrastructures hidden-xs hidden-sm" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.75) 0%, rgba(40, 42, 44, 0.75) 95%), url('/assets/Tracteur_profil');">
    <img src="/assets/DMVA - logo blanc-02.png">
    <div class="infrastructures-text">
      <p>Découvrez l'ensemble de nos infrastructures</p>
      <a href="/assets/Bulldozer.mp4" target="_blank">Voir la vidéo ></a>
    </div>
</div>

<div class="infrastructures-xs hidden-lg" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.75) 0%, rgba(40, 42, 44, 0.75) 95%), url('/assets/Tracteur_profil');">
    <div class="infrastructures-text">
      <p>Découvrez l'ensemble de nos infrastructures</p>
      <a href="/assets/Bulldozer.mp4" target="_blank">Voir la vidéo ></a>
    </div>
</div>




<div class="lequipe">
  <h2>Notre Equipe</h2>


    <%= render 'shared/team' %>


</div>
