
<div class="banner-apropos" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.15) 0%, rgba(40, 42, 44, 0.28) 50%), url('/assets/Tracteur_profil');">
    <h1>À Propos</h1>
</div>

<div class="business-description">
  <hr>
  <div class="business-text">
    <h3>L'entreprise</h3>
    <p>Nam sole orto magnitudine angusti gurgitis sed profundi a
transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</p>
    <a href="">En savoir plus</a>
  </div>
  <img class="image-entreprise" src="/assets/Travail_sur_chantier.jpg" alt="ouvriers travaillant sur chantier">
</div>

<div class="habilitations">
  <img src="/assets/Ouvrier_a_genoux">
  <hr>
  <div class="habilitations-text">
    <h3>Habilitations</h3>
    <p>Nam sole orto magnitudine angusti gurgitis sed profundi a
transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</p>
    <a href="">En savoir plus</a>
  </div>
</div>

<div class="infrastructures" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.75) 95%, rgba(40, 42, 44, 0.75) 95%), url('/assets/Tracteur_profil');">
    <div class="logo_blanc">
      <img src="">
    </div>
</div>



<table class="lequipe">
  <caption>Notre Equipe</caption>
  <tr>
    <td>
      <img src="">
    </td>
    <td>
      <img src="">
    </td>
    <td>
      <img src="">
    </td>
    <td>
      <img src="">
    </td>
  </tr>
  <tr>
    <td>
      <p>Erwan GUILLOU</p>
    </td>
    <td>
      <p>Erwan GUILLOU</p>
    </td>
    <td>
      <p>Erwan GUILLOU</p>
    </td>
    <td>
      <p>Erwan GUILLOU</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Chef de projet</p>
    </td>
    <td>
      <p>Chef de projet</p>
    </td>
    <td>
      <p>Chef de projet</p>
    </td>
    <td>
      <p>Chef de projet</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Nam sole orto magnitudine angusti gurgitis sed profundi a
transitu arcebantur et dum piscatorios quaerunt </p>
    </td>
    <td>
      <p>Nam sole orto magnitudine angusti gurgitis sed profundi a
transitu arcebantur et dum piscatorios quaerunt </p>
    </td>
    <td>
      <p>Nam sole orto magnitudine angusti gurgitis sed profundi a
transitu arcebantur et dum piscatorios quaerunt </p>
    </td>
    <td>
      <p>Nam sole orto magnitudine angusti gurgitis sed profundi a
transitu arcebantur et dum piscatorios quaerunt </p>
    </td>
  </tr>
</table>
