<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url(<%= image_path 'luke.jpg' %>);">
  <div class="banner-content">
    <h1>DMVA</h1>
    <h2>Travaux Publics</h2>
    <p>Une entreprise qui vous parle - Une entreprise qui vous parle - Une entreprise qui vous parle</p>
    <a class="btn btn-primary btn-lg">Votre devis</a>
  </div>
</div>
<div class="actions">
  <div class="row">

  </div>
</div>
