<div class="banner-apropos" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.15) 0%, rgba(40, 42, 44, 0.28) 50%), url('/assets/Tracteur_profil');">
    <h1>Réalisations</h1>
</div>

<div class="container-home">

  <div class="references hidden-xs hidden-sm hidden-md">
    <hr>
    <div class="references-text">
      <h2>Parmi nos références significatives</h2>
      <span class="more">Nam sole orto magnitudine angusti gurgitis sed rofundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant. Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</span>
    </div>
    <div class="references-img" style="background-image:linear-gradient(-225deg, rgba(219, 135, 78, 0.75) 0%, rgba(219, 135, 78, 0.75) 95%), url('/assets/Travail_sur_chantier.jpg');">
        <p class="references-nb">15</p>
        <p class="references-specialites">SPÉCIALITÉS</p>
    </div>
  </div>

  <div class="references hidden-lg">
    <div class="references-text">
      <h2>Parmi nos références significatives</h2>
      <span class="more">Nam sole orto magnitudine angusti gurgitis sed rofundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant. Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</span>
    </div>
    <div class="references-img" style="background-image:linear-gradient(-225deg, rgba(219, 135, 78, 0.75) 0%, rgba(219, 135, 78, 0.75) 95%), url('/assets/Travail_sur_chantier.jpg');">
        <p class="references-nb">15</p>
        <p class="references-specialites">SPÉCIALITÉS</p>
    </div>
  </div>

  <div id="realisation" class="realisations">
    <div class="parc_materiel-titre">
      <h2>Nos dernières réalisations</h2>
      <div class="hidden-xs hidden-sm">
        <p>Tout afficher</p>
        <p>Maçonnerie</p>
        <p>Voirie</p>
        <p>Assainissement</p>
        <p>Autres</p>
      </div>
    </div>
    <div class="realisations-img">
      <div class="realisations-objet" style="background-image: url('assets/Tracteur_profil'); width: 49%">
        <div class="hover-effect">
          <p class="objet-plus">+</p>
          <p class="realisations-img-titre">Rue souguehain bailleval</p>
          <p>Aménagement de trottoir sur l'ensemble de la rue avec cheminement PMR</p>

          <label class="hero button" for="lightbox-realisation"></label>
            <aside class="lightbox">
              <input type="checkbox" class="state" id="lightbox-realisation" />
              <article class="content">
                <header class="header">
                  <label class="button" for="lightbox-realisation">&times;</label>
                  <div class="header-pdf">
                    <p>REALISATION</p>
                    <p>VOIRIE</p>
                  </div>
                  <h3 class="h h3">Rue souguehain bailleval</h3>
                </header>
                <main class="main">
                  <div class="grid-realisations">
                    <a href="#img-grid-realisations-1-1">
                      <div class="img-grid-realisations img-grid-realisations-1" style="background-image: url('assets/Tracteur_profil');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-1-2">
                    <div class="img-grid-realisations img-grid-realisations-2" style="background-image: url('assets/Portrait_putin.jpg');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-1-3">
                      <div class="img-grid-realisations img-grid-realisations-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');">
                      </div>
                    </a>
                    <div class="img-grid-realisations-display">
                      <div id="img-grid-realisations-1-1" style="background-image: url('assets/Tracteur_profil');"></div>
                      <div id="img-grid-realisations-1-2" style="background-image: url('assets/Portrait_putin.jpg');"></div>
                      <div id="img-grid-realisations-1-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');"></div>
                      <div id="img-grid-realisations-default" style="background-image: url('assets/Tracteur_profil');"></div>
                    </div>
                  </div>
                  <p>Aménagement de trottoir sur l'ensemble de la rue avec cheminement PMR</p>
                  <div class="fait-par">
                    <h5>THIBAULT GUILLOU</h5>
                    <p>ADMIN</p>
                  </div>
                </main>
                <footer class="footer-pdf">
                  <label class="button btn btn-primary" for="lightbox-realisation">Fermer</label>
                </footer>
              </article>
              <label class="backdrop" for="lightbox-realisation"></label>
            </aside>

        </div>
      </div>
      <div class="realisations-objet" style="background-image: url('assets/Portrait_putin.jpg'); width: 49%">
        <div class="hover-effect">
          <p class="objet-plus">+</p>
          <p class="realisations-img-titre">Parc Chédeville</p>
          <p>Réalisation d'allées piétonnes en enrobé sur l'ensemble du parc</p>

          <label class="hero button" for="lightbox-realisation-2"></label>
            <aside class="lightbox">
              <input type="checkbox" class="state" id="lightbox-realisation-2" />
              <article class="content">
                <header class="header">
                  <label class="button" for="lightbox-realisation-2">&times;</label>
                  <div class="header-pdf">
                    <p>REALISATION</p>
                    <p>VOIRIE</p>
                  </div>
                  <h3 class="h h3">Parc Chédeville</h3>
                </header>
                <main class="main">
                  <div class="grid-realisations">
                    <a href="#img-grid-realisations-2-1">
                      <div class="img-grid-realisations img-grid-realisations-1" style="background-image: url('assets/Tracteur_profil');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-2-2">
                    <div class="img-grid-realisations img-grid-realisations-2" style="background-image: url('assets/Portrait_putin.jpg');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-2-3">
                      <div class="img-grid-realisations img-grid-realisations-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');">
                      </div>
                    </a>
                    <div class="img-grid-realisations-display">
                      <div id="img-grid-realisations-2-1" style="background-image: url('assets/Tracteur_profil');"></div>
                      <div id="img-grid-realisations-2-2" style="background-image: url('assets/Portrait_putin.jpg');"></div>
                      <div id="img-grid-realisations-2-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');"></div>
                      <div id="img-grid-realisations-default" style="background-image: url('assets/Tracteur_profil');"></div>
                    </div>
                  </div>
                  <p>Réalisation d'allées piétonnes en enrobé sur l'ensemble du parc</p>
                  <div class="fait-par">
                    <h5>THIBAULT GUILLOU</h5>
                    <p>ADMIN</p>
                  </div>
                </main>
                <footer class="footer-pdf">
                  <label class="button btn btn-primary" for="lightbox-realisation-2">Fermer</label>
                </footer>
              </article>
              <label class="backdrop" for="lightbox-realisation-2"></label>
            </aside>

        </div>
      </div>
      <div class="realisations-objet" style="background-image: url('assets/Ouvrier_a_genoux.jpg'); width: 32%">
        <div class="hover-effect">
          <p class="objet-plus">+</p>
          <p class="realisations-img-titre">Cour particulier</p>
          <p>Aménagement d'une cour chez un particulier en béton lavé/pavés</p>

          <label class="hero button" for="lightbox-realisation-3"></label>
            <aside class="lightbox">
              <input type="checkbox" class="state" id="lightbox-realisation-3" />
              <article class="content">
                <header class="header">
                  <label class="button" for="lightbox-realisation-3">&times;</label>
                  <div class="header-pdf">
                    <p>REALISATION</p>
                    <p>MAÇONNERIE</p>
                  </div>
                  <h3 class="h h3">Cour particulier</h3>
                </header>
                <main class="main">
                  <div class="grid-realisations">
                    <a href="#img-grid-realisations-3-1">
                      <div class="img-grid-realisations img-grid-realisations-1" style="background-image: url('assets/Tracteur_profil');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-3-2">
                    <div class="img-grid-realisations img-grid-realisations-2" style="background-image: url('assets/Portrait_putin.jpg');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-3-3">
                      <div class="img-grid-realisations img-grid-realisations-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');">
                      </div>
                    </a>
                    <div class="img-grid-realisations-display">
                      <div id="img-grid-realisations-3-1" style="background-image: url('assets/Tracteur_profil');"></div>
                      <div id="img-grid-realisations-3-2" style="background-image: url('assets/Portrait_putin.jpg');"></div>
                      <div id="img-grid-realisations-3-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');"></div>
                      <div id="img-grid-realisations-default" style="background-image: url('assets/Tracteur_profil');"></div>
                    </div>
                  </div>
                  <p>Aménagement d'une cour chez un particulier en béton lavé/pavés</p>
                  <div class="fait-par">
                    <h5>THIBAULT GUILLOU</h5>
                    <p>ADMIN</p>
                  </div>
                </main>
                <footer class="footer-pdf">
                  <label class="button btn btn-primary" for="lightbox-realisation-3">Fermer</label>
                </footer>
              </article>
              <label class="backdrop" for="lightbox-realisation-3"></label>
            </aside>

        </div>
      </div>
      <div class="realisations-objet" style="background-image: url('assets/Travail_sur_chantier.jpg'); width: 32%">
        <div class="hover-effect">
          <p class="objet-plus">+</p>
          <p class="realisations-img-titre">Aménagement sécuritaire à Cauffry</p>
          <p>Aménagement d'un carrefour en plateau traversant ainsi que la réalisation de dos d'âne</p>

          <label class="hero button" for="lightbox-realisation-4"></label>
            <aside class="lightbox">
              <input type="checkbox" class="state" id="lightbox-realisation-4" />
              <article class="content">
                <header class="header">
                  <label class="button" for="lightbox-realisation-4">&times;</label>
                  <div class="header-pdf">
                    <p>REALISATION</p>
                    <p>VOIRIE</p>
                  </div>
                  <h3 class="h h3">Aménagement sécuritaire à Cauffry</h3>
                </header>
                <main class="main">
                  <div class="grid-realisations">
                    <a href="#img-grid-realisations-4-1">
                      <div class="img-grid-realisations img-grid-realisations-1" style="background-image: url('assets/Tracteur_profil');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-4-2">
                    <div class="img-grid-realisations img-grid-realisations-2" style="background-image: url('assets/Portrait_putin.jpg');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-4-3">
                      <div class="img-grid-realisations img-grid-realisations-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');">
                      </div>
                    </a>
                    <div class="img-grid-realisations-display">
                      <div id="img-grid-realisations-4-1" style="background-image: url('assets/Tracteur_profil');"></div>
                      <div id="img-grid-realisations-4-2" style="background-image: url('assets/Portrait_putin.jpg');"></div>
                      <div id="img-grid-realisations-4-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');"></div>
                      <div id="img-grid-realisations-default" style="background-image: url('assets/Tracteur_profil');"></div>
                    </div>
                  </div>
                  <p>Aménagement d'un carrefour en plateau traversant ainsi que la réalisation de dos d'âne</p>
                  <div class="fait-par">
                    <h5>THIBAULT GUILLOU</h5>
                    <p>ADMIN</p>
                  </div>
                </main>
                <footer class="footer-pdf">
                  <label class="button btn btn-primary" for="lightbox-realisation-4">Fermer</label>
                </footer>
              </article>
              <label class="backdrop" for="lightbox-realisation-4"></label>
            </aside>

        </div>
      </div>
      <div class="realisations-objet" style="background-image: url('assets/entree_dmva.JPG'); width: 32%">
        <div class="hover-effect">
          <p class="objet-plus">+</p>
          <p class="realisations-img-titre">Assainissment</p>
          <p>Chantier de Bailleval en cours</p>

          <label class="hero button" for="lightbox-realisation-5"></label>
            <aside class="lightbox">
              <input type="checkbox" class="state" id="lightbox-realisation-5" />
              <article class="content">
                <header class="header">
                  <label class="button" for="lightbox-realisation-5">&times;</label>
                  <div class="header-pdf">
                    <p>REALISATION</p>
                    <p>VOIRIE</p>
                  </div>
                  <h3 class="h h3">Assainissment</h3>
                </header>
                <main class="main">
                  <div class="grid-realisations">
                    <a href="#img-grid-realisations-5-1">
                      <div class="img-grid-realisations img-grid-realisations-1" style="background-image: url('assets/Tracteur_profil');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-5-2">
                    <div class="img-grid-realisations img-grid-realisations-2" style="background-image: url('assets/Portrait_putin.jpg');">
                    </div>
                    </a>
                    <a href="#img-grid-realisations-5-3">
                      <div class="img-grid-realisations img-grid-realisations-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');">
                      </div>
                    </a>
                    <div class="img-grid-realisations-display">
                      <div id="img-grid-realisations-5-1" style="background-image: url('assets/Tracteur_profil');"></div>
                      <div id="img-grid-realisations-5-2" style="background-image: url('assets/Portrait_putin.jpg');"></div>
                      <div id="img-grid-realisations-5-3" style="background-image: url('assets/Ouvrier_a_genoux.jpg');"></div>
                      <div id="img-grid-realisations-default" style="background-image: url('assets/Tracteur_profil');"></div>
                    </div>
                  </div>
                  <p>AChantier de Bailleval en cours</p>
                  <div class="fait-par">
                    <h5>THIBAULT GUILLOU</h5>
                    <p>ADMIN</p>
                  </div>
                </main>
                <footer class="footer-pdf">
                  <label class="button btn btn-primary" for="lightbox-realisation-5">Fermer</label>
                </footer>
              </article>
              <label class="backdrop" for="lightbox-realisation-5"></label>
            </aside>

        </div>
      </div>
    </div>
  </div>


  <div id="materiel" class="parc_materiel">
    <div class="parc_materiel-titre">
      <h2>Notre parc matériel</h2>
      <div class="hidden-xs hidden-sm">
        <p>Tout afficher</p>
        <p>Camions</p>
        <p>Pelles</p>
        <p>Autre</p>
      </div>
    </div>
    <div class="parc_materiel-carousel">

      <%= render 'shared/carousel-parc-materiel' %>

    </div>
  </div>

  <div class="travaillons-ensemble">
    <p>Vous souhaitez faire appel à nous ?</p>
    <p><strong>Alors <%= link_to 'travaillons-ensemble', new_contact_path %></strong></p>
  </div>

</div>
