<div class="banner-realisation" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.15) 0%, rgba(40, 42, 44, 0.28) 50%), url('/assets/Tracteur_profil');">
    <h1>Réalisations</h1>
</div>


<div class="references">
  <hr>
  <div class="references-text">
    <h2>Parmi nos références significatives</h2>
    <span class="more">Nam sole orto magnitudine angusti gurgitis sed rofundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant. Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant.</span>
  </div>
  <div class="references-img" style="background-image:linear-gradient(-225deg, rgba(219, 135, 78, 0.75) 0%, rgba(219, 135, 78, 0.75) 95%), url('/assets/Travail_sur_chantier.jpg');">
      <p class="references-nb">15</p>
      <p class="references-specialites">SPÉCIALITÉS</p>
  </div>
</div>

<div class="realisations">
  <div class="realisations-titres">
    <p>Tout afficher</p>
    <p>Autres</p>
    <p>Maçonnerie</p>
    <p>Voirie</p>
    <p>Assainissement</p>
  </div>
  <div class="realisations-img">
    <div class="realisations-objet" style="background-image: url('assets/Tracteur_profil'); width: 49%">
      <div class="hover-effect">
        <p class="objet-plus">+</p>
        <p>Assainissment</p>
        <p>Chantier de Bailleval en cours</p>
      </div>
    </div>
    <div class="realisations-objet" style="background-image: url('assets/Portrait_putin.jpg'); width: 49%">
      <div class="hover-effect">
        <p class="objet-plus">+</p>
        <p>Assainissment</p>
        <p>Chantier de Bailleval en cours</p>
      </div>
    </div>
    <div class="realisations-objet" style="background-image: url('assets/Ouvrier_a_genoux.jpg'); width: 32%">
      <div class="hover-effect">
        <p class="objet-plus">+</p>
        <p>Assainissment</p>
        <p>Chantier de Bailleval en cours</p>
      </div>
    </div>
    <div class="realisations-objet" style="background-image: url('assets/Travail_sur_chantier.jpg'); width: 32%">
      <div class="hover-effect">
        <p class="objet-plus">+</p>
        <p>Assainissment</p>
        <p>Chantier de Bailleval en cours</p>
      </div>
    </div>
    <div class="realisations-objet" style="background-image: url('assets/entree_dmva.JPG'); width: 32%">
      <div class="hover-effect">
        <p class="objet-plus">+</p>
        <p>Assainissment</p>
        <p>Chantier de Bailleval en cours</p>
      </div>
    </div>
  </div>
</div>


<div class="parc_materiel">
  <div class="parc_materiel-titre">
    <h2>Notre parc matériel</h2>
    <div>
      <p>Tout afficher</p>
      <p>Camions</p>
      <p>Pelles</p>
      <p>Autre</p>
    </div>
  </div>
  <div class="parc_materiel-carousel">

    <%= render 'shared/carousel-parc-materiel' %>

  </div>
</div>

<div class="travaillons-ensemble">
  <p>Vous souhaitez faire appel à nous ?</p>
  <p><strong>Alors <%= link_to 'travaillons-ensemble', new_contact_path %></strong></p>
</div>
