<%= render 'shared/modal' %>
<div class="banner-apropos" style="background-image:linear-gradient(-225deg, rgba(89, 92, 93, 0.15) 0%, rgba(40, 42, 44, 0.28) 50%), url('/assets/Tracteur_profil');">
    <h1>Contact</h1>
</div>
<div id="contact" class="moyen-contact">
  <div class="form-contact" align="center">
    <div class="titre-contact-form">
      <h3>Envoyez-nous un message</h3>
      <hr class="hidden-xs">
    </div>
    <div class="contact">
      <%= render 'contact_form' %>
    </div>

  </div>
  <hr class="hidden-xs hidden-sm">
  <div class="contact-dmva">
    <h3>Contactez nous</h3>
    <div class="infos-dmva">
      <div class="info-contact">
        <p><strong>ADRESSE:</strong><br> DMVA TP<br>786 rue frédéric Kulhmann<br> 60240 RIEUX FRANCE</p>
      </div>
      <div class="info-contact">
        <p><strong>COORDONNÉES:</strong><br> <a href="tel:0344665102"> 03.44.66.51.02</a><br><a href="mailto:dmva@orange.fr"> dmva@orange.fr </a></p>
      </div>
    </div>
  </div>
</div>








<div id="map"></div>
