.row {
  padding: 10% 0;
  width: 90%;
  margin: auto;
  .card {
    background-color: $orange;
    width: 190px;
    height: 200px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    background-position: center;
    position: relative;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 4vh;
  }
  .margin-left-titre {
    margin-left: 3%;
  }
  .size-titre {
    width: 75vw;
    margin-left: -10%;
    text-align: center;
  }
}
.size-h3 {
  font-size: 90px !important;
  color: black !important ;
  margin: 0 !important;
}

.card-description {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  h5{
    font-size: 20px !important;
    color: black;
  }
}


.desc-bloc-accompli {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 5vh 0;
  p {
    width: 92%;
    margin: auto;
    margin-bottom: 50px;
  }
}

.chiffres-accomplit {
  text-align: center;
  h2 {
    color: $orange;
  }
}



.counter-value {
  color: $orange;
  font-family: $headers-font;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 25px;
  font-size: 30px;
}







