.action {
  display: flex;
  flex-direction: column;
  justify-content:center;
  h3 {
    margin-top: 0;
  }
  margin-top: 20px;
  margin-bottom: 20px;
  p {
    color: $light-gray !important;
  }
}

.icon-position {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  justify-content: center;
  h1{
    color: $light-gray !important;
  }
}
.actions {
  padding: 30px;
}
.text-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h1-text-action {
  width: 200px;
  align-items: center;
  text-align: center;
  margin: auto;
}
.position-left {
  flex: 20%;
  text-align: center;
  h1 {
    margin: 0;
  }
}

.position-right {
  flex: 75%;
  margin-left: 12px;
  p{
    margin: 0;
  }
}
