.banner {
  color: white;
  height: 85vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 2% 8%;
}
.banner h1 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
}
.banner p {
  font-size: 19px;
  font-weight: lighter;
  color: white;
  opacity: 0.8;
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-primary {
  background-color: $orange;
  border: none;
}
.btn-primary:hover {
  background-color: $orange;
  text-decoration: underline;
}
.btn {
  font-size: 15px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin-bottom: 20px;
  p strong{
    font-weight: normal;
  }
}

.images-banner{
  height: 85vh;
  border: none;
  .carousel {
    height: 100%;
  }
}




