.banner {
  color: white;
  height: calc(100vh - 137px);
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  margin-top: 0;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-primary {
  background-color: $brown;
  border: none;
}
.banner-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 100px;
  text-align: -webkit-right;
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 68px;
    font-weight: bolder;
  }

}
.images-banner{
  height: calc(100vh - 137px);
  border: none;
  .carousel {
    height: 100%;
  }
}
.banner {
  .carousel-inner{
    height: 100%;
  }
  .carousel {
    border: none;
  }
  .item {
    object-fit: cover;
  }
}



