.footer {
  padding: 4% 5% 1% 5%;
  width: 100%;
  margin-top: 4%;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $orange;
  flex-direction: column;
  a {
    color: $light-gray;
    text-decoration: none;
  }
  a:hover {
    color: $orange;
  }
  h4 {
    color: white;
  }
}
.footer-adresse {
  margin: 7% 0;
  p {
    margin: 0;
  }
}
.link-page {
  margin-top: 12%;
  p {
    margin: 0;
  }
}
.telephone-footer {
  margin: 7% 0;
  p {
    margin: 0;
  }
}
.titre-top-footer {
  hr {
    height: 5px;
    margin: 0;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer-links a {
  color: #DB874E;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-bas {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 11px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-content {
  width: 100%;
  flex: 0 0 37vh;

}


.footer-copyright{
  font-size: 11px;
  a {
    color: $orange;
  }
}
