#telecharger {
  background-color: $orange;
  padding: 10px 20px;
  border-radius: 2px;
  text-align: center;
}
.brochure {
  margin: 5% -9% 0 -9%;
  padding: 0 5%;
  height: 20vh;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  .brochure-text{
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  h3{
    font-size: 2em;
    color: white;
    width: 65%;
  }
  a{
    color: black;
  }
}
