.services-home {
  padding: 0 6%;
  margin-top: 20px;
  // position: relative;
}
.service {
  margin: 60px 0;
  img {
    max-height: 350px;
  }
  a {
    color: black;
    font-size: 12px;
    margin-top: 20px;
  }
}
.picture-service {
  object-fit: cover;
  padding: 4% 0;
}

.description-service {
  padding: 36px 8% 4% 4%;
  position: relative;
  span {
    font-weight: light;
    font-size: 13px !important;
    color: #C8C7C8;
  }
}
.link-realisation{
  display: flex;
  align-items: center;
  position:absolute;
  right: 2%;
  bottom: -30%;
  h3 {
    color: black !important;
    text-decoration: none;
    margin: 0 5px 0 0;
    font-size: 3vh !important;
  }
  img{
    margin: 0;
  }
}
.row {
  width: 100%;
  padding: 0;
}




.separation{
  clear: both;
  position: absolute;
  border-radius: 1px;
  background-color: #DB874E;
  margin-top :10px;
  }
.padding-left-des {
  padding-left: 10vw;
}
.sep-right {
  width : 4px;
  top: 30px;
  right: 0;
  height: 100px;
}
.sep-horizontal {
  width : 8vw;
  top: 42px;
  left: 0;
  height: 5px;
}
.sep-centrale {
  top: 0px;
  left: 0;
  width : 5px;
  height: 100px;
}
.padding-right-img {
  padding: 10px 20px 0px 0px;
}

.padding-right-des {
  padding: 0px 0% 4% 7%;
}
// .desc-voirie {
//   margin-left: 20%;
// }
// .desc-maconnerie {
//   margin-left: 30px;
// }

@media all and (max-width: 767px){
  .padding-right-img{
    padding: 0;
  }
  .inverse-flex{
    display: flex;
    flex-direction: column-reverse;
  }
}











